<ul>
  <li><a routerLink="first">Primer Componente</a> </li>
  <li><a routerLink="second">Segundo Componente</a></li>
  <li><a routerLink="directive">Ejemplos de Directivas</a></li>
  <li><a routerLink="directive-exercise">Ejercicio de Directivas</a></li>
  <li><a routerLink="orchestation">Orquestacion entre componentes</a></li>
  <li><a routerLink="orchestation-person">Orquestacion entre componentes</a></li>
  <li><a routerLink="photo-album-http">Album de Fotos HTTP</a></li>
  <li><a routerLink="tasks-http">Mantenimiento de Tareas HTTP</a></li>
  <li><a routerLink="reactive-form">Ejemplo Formulario reactivo</a></li>
  <li><a routerLink="angular-material-example">Ejemplo Angular Material</a></li>
<ul>
  
<router-outlet></router-outlet>

