<div  fxLayout="column" fxLayoutAlign="space-around start">
  <mat-form-field appearance="fill" fxFill>
    <mat-label>Nombre</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="fill" fxFill>
    <mat-label>Fecha De Nacimiento</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-slide-toggle fxFill>Casado</mat-slide-toggle>
  <mat-form-field appearance="fill" fxFill>
    <mat-label>Comidas Favoritas</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox fxFill>Feliz</mat-checkbox>
</div>